.shelter_grid{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

@media (max-width: 770px){
    .shelter_grid {
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
        grid-template-rows: repeat(4 , 1fr);
        grid-gap: 40px;
    }
}
@media (max-width:  600px){
    .shelter_grid {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
}