.btn{
    font-size: 1.7rem;
    font-weight: 400;
    color: #292929;
    display: block;
    margin: 0 auto;
    background: transparent;
    padding: 15px 45px;
    border: 2px solid #f1cdb3;
    border-radius: 100px;
    cursor: pointer;
}